body{
	@extend %raleway-500;
	background-color: #fff9e7;
	font-size: 13px;
	.container{
		
		padding-top:55px;
	}
}
.wrapper{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}
