body{
	@extend %relaway-500;
	background-color: #fff9e7;
	.container{
		background-image: url(../images/bg.png);
		background-repeat: no-repeat;
		background-position: bottom right;
	}
}
.wrapper{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}