$yellow: #ffea00;
$white: #fff;
$orange: #ff742b;


%fredoka-400{
	font-family: 'Fredoka One', cursive;
	font-weight: 400;
}
%relaway-500{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
%ptserif-400{
	font-family: 'PT Serif', serif;
	font-weight: 400;
}
