@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.container{
	&__inner{
		background-color: $white;
	}
}
.header-top{
	width: 100%;
	height: 48px;
	background: linear-gradient(#ff8331, #ff6626);
	@extend %quicksand-700;
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 48px;
	}
}
.logo{
	align-self: flex-end;
}
.navigation{
	flex-grow: .8;
	&__btn{
		border: none;
		background-color: transparent;
		display: none;
		margin-left: 10px;
		cursor: pointer;
	}
	&__list{
		display: flex;
		align-items: center;
	}
	&__list-item{
		color: $white;
		text-transform: uppercase;
		border-top: 2px solid transparent;
		position: relative;
	}
	&__list-item + .navigation__list-item{
		margin-left: 40px;
	}
	&__list-item--active{
		color: $yellow;
		border-top: 2px solid $yellow;
	}
	&__list-item:hover{
		.navigation__linkbox{
			display: block;
		}
	}
	&__link{
		font-size: 12px;
		color: inherit;
		line-height: 46px;
	}
	&__linkbox{
		display: none;
		position: absolute;
		background-color: $white;
		min-width: 130px;
		padding: 35px 20px 4px;
		z-index: 11;
		&::before{
			content: '';
			position: absolute;
			border: 4px solid transparent;
			border-bottom: 8px solid $white;
			top: -12px;
		}
	}
	&__linkbox-item{
		margin-bottom: 24px;
	}
	&__linkbox-link{
		color: $gray;
		&:hover{
			color: $orange;
		}
	}


}
.product-cart{
	font-size: 16px;
	color: $white;
	img,
	&__link{
		color: $yellow;
		margin-right: 2px;
		display: inline;
	}
	&__link{
		@extend %ptserif-400i;
		font-size: 14px;
		margin-right: 4px;
	}
	&__amount{
		padding-right: 10px;
		border-right: 1px dashed $white;
	}
	&__price{
		padding-left: 10px;
	}

}
.header .slider{
	position: relative;
	&__inner{
		max-height: 663px;
		overflow: hidden;
	}
	&__item{
		background-repeat: no-repeat;
		background-size: cover;
		padding: 105px 0 114px;
		height: 100%;
	}
	&__dots{
		position: absolute;
		left: 40px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
	}
	&__dot{
		background-color: #919a77;
		width: 10px;
		height: 10px;
		display: block;
		margin-bottom: 24px;
		border-radius: 50%;
		z-index: 1;
		cursor: pointer;
	}
	&__dot.active{
		background-color: #626755;
	}
	&__dot:last-child{
		margin-bottom: 0;
	}
}

.header-bottom{
	&__product{
		position: relative;
		display: inline-block;
		z-index: 1;
		margin-left: 110px;
	}
	&__product-descr{
		width: 265px;
		color: $white;
	}
	&__product-title{
		font-size: 24px;
		color: $yellow;
		@extend %fredokaone-400;
		margin-bottom: 22px;

	}
	&__product-text{
		font-size: 12px;
		span{
			display: block;
			margin-top: 20px;
			font-size: 23px;
			@extend %ptserif-400i;
		}
	}
	&__img-box{
		position: absolute;
    	right: -130%;
    	top: 0px;
    	z-index: -1;
    	transform: translateY(-28%);
		span{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(25%, -50%);
			width: 145px;
			height: 145px;
			border-radius: 50%;
			background-color: $green;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $yellow;
			font-size: 54px;
			@extend %fredokaone-400;
		}
	}
	&__img{
		position: relative;
	}

}
.header-title{
	font-size: 68px;
	color: $white;
	@extend %fredokaone-400;
  	text-shadow: 6px 10.392px 0px rgba(0, 0, 0, 0.1);
  	margin-bottom: 105px;
  	text-align: center;
  	z-index: 1;
}




.footer-top{
	padding-top: 65px;
	padding-bottom: 60px;
	position: relative;
	overflow: hidden;
	&__inner{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item{
		padding: 0 15px;
		margin-bottom: 20px;
	}
	&__item-title{
		color: $orange;
		@extend %fredokaone-400;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 18px;
	}
	&__list-item{
		@extend %raleway-400;
		font-size: 11px;
		margin-bottom: 11px;

	}
	&__item-link,
	.footer-top__tel-link,
	.footer-top__mail-link,
	.footer-top__place{
		color: $gray;
	}
	&__tel{
		@extend %quicksand-700;
		font-size: 29px;
		margin-bottom: 13px;
		margin-top: -17px;
		span{
			@extend %quicksand-400;
		}
	}
	&__mail{
		@extend %raleway-400;
		font-size: 12px;
		margin-bottom: 13px;
	}
	&__place{
		@extend %raleway-600;
		font-size: 15px;
		span{
			@extend %raleway-700;
		}
	}
	&__place-img{
		display: inline;
	}
	&__bg{
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(50%);
	}
	.wrapper{
		position: relative;
	}
}
.twits{
	&__title{
		font-size: 19px;
		@extend %fredokaone-400;
		color: $blue;
		margin-bottom: 20px;
	}
	&__inner{
		margin-bottom: 8px;
		@extend %ptserif-400i;
	}
	&__info{
		display: flex;
		font-size: 11px;
	}
	&__authore{
		color: $blue;
		@extend %raleway-700;
	}
	&__date{
		color: $gray;
		@extend %raleway-400;
		margin-left: 2px;
	}
}

.footer-bottom{
	background-image: url(../images/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 35px 0 55px;
	color: $white;
	&__menu{
		display: flex;
		justify-content: center;
		padding: 0 0 35px;
		border-bottom: 1px dashed rgba(255, 255, 255, .4);
		margin-bottom: 50px;
		flex-wrap: wrap;

	}
	&__menu-item{
		padding: 0 25px;
		position: relative;

	}
	&__menu-item + .footer-bottom__menu-item::before{
		content: '';
		position: absolute;
		width: 3px;
		height: 3px;
		background-color: $white;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&__menu-link{
		color: inherit;
	}
	&__inner{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__social{
		display: flex;
	}

	&__social-item{
		margin-top: 2px;
		&:hover{
			margin-top: 0;
			margin-bottom: 2px;
		}
	}
	&__social-item + .footer-bottom__social-item{
		margin-left: 8px;
	}
	&__social-img{
		border-radius: 50%;
	}
	&__copyright{
		margin-left: 35px;

	}
}



.about{
	text-align: center;
	color: $brown;
	&__title{
		font-size: 54px;
		padding: 0 15px 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $brown;
		display: inline-block;
	}
	&__text{
		font-size: 23px;
		max-width: 880px;
		margin: 0 auto 23px;
	}
	&__subtext{
		font-size: 12px;
		margin-bottom: 60px;
	}
	&__form{
		display: flex;
		margin-bottom: 66px;
	}

	&__input,
	&__btn{
		height: 75px;
	}

	&__input{
		border: 2px solid $yellow;
		border-right: none;
		width: 100%;
		@extend %ptserif-400;
		outline: transparent;
		font-size: 22px;
		padding: 0 25px;
	}
	&__btn{
		width: 180px;
		background: linear-gradient(#ff8331, #ff6626);
		border: none;
		color: $white;
		@extend %fredokaone-400;
		font-size: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	&__btn-icon{
		display: inline-block;
		margin-left: 10px;
	}
	&__inner{
		display: flex;
		text-align: left;
		height: 346px;
	}
	&__popup{
		flex: 0 0 50%;
		max-width: 50%;
		height: 100%;
	}
	&__popup-btninner{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__popup-btn{
		background-color: transparent;
		display: flex;
		border: none;
		cursor: pointer;
		align-items: center;
		text-align: left;
	}
	&__popup-descr{
		margin-left: 20px;
		color: $white;
	}
	&__popup-title{
		@extend %fredokaone-400;
		font-size: 33px;
	}
	&__popup-text{
		@extend %raleway-400;
		font-size: 12px;
	}
	&__popup-video{
		position: fixed;
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .8);
		justify-content: center;
		align-items: center;
		z-index: 15;
		display: none;
		cursor: pointer;
	}




	&__person{
		flex: 0 0 50%;
		max-width: 50%;
		color: $white;
		padding-left: 55px;
		padding-top: 55px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__person-title{
		font-size: 24px;
		@extend %ptserif-700;
	}
	&__person-profession{
		font-size: 12px;
		@extend %raleway-400;
		color: #b8ece8;
		margin-bottom: 8px;
	}
	&__person-text{
		@extend %ptserif-400i;
		max-width: 220px;
		line-height: 24px;
	}
}

.product{
	text-align: center;
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		background: linear-gradient(#ff6c22, #ff4616);
	}
	&__slider-arrows{
		height: 100%;
		background-color: #df4115;
	}
	&__slider-arrow{
		height: 100%;
		margin: 0;
		background-color: #eb4516;
		border: none;
		margin: 0;
		width: 56px;
		cursor: pointer;
		text-align: center;
	}
	&__arrow-left{
		transform: rotate(180deg);
	}
	&__arrow-img{
		display: inline;
	}
	&__title{
		color: $white;
		@extend %fredokaone-400;
		font-size: 43px;
	}
	&__sort{
		@extend %ptserif-400;
		font-size: 14px;
		color: #ffeb90;
		padding-right: 15px;
		position: relative;
		user-select: none;
		span{
			color: $white;
			border-bottom: 1px dashed $white;
			@extend %quicksand-700;
			cursor: pointer;
			text-transform: uppercase;
		}
		img{
			display: inline;
			transform: rotate(90deg);
			transition: all .2s;
		}
	}
	&__sort-list{
		position: absolute;
		left: -4px;
		right: -1px;
		padding: 5px 0;
		display: none;
		background: linear-gradient(#ff531a, #ff4716 25%, #fb4415);
		transition: all 5s;
		z-index: 10;
	}
	&__sort.product__sort--active{
		.product__sort-list{
			display: block;
			animation: listOnAnimation .6s ease-in-out;
		}
		img{
			transform: rotate(-90deg);
		}

	}
	&__sort-categorybtn{
		padding: 8px 15px;
		width: 100%;
		border: none;
		background-color: transparent;
		cursor: pointer;
		color: $white;
		text-align: left;
	}

	&__bottom{
		overflow: hidden;
	}
	&__bottom-inner{
		display: flex;
		transition: all .3s;
	}
	&__bottom-item{
		height: 350px;
		min-width: 25%;
		background-color: $white;
		display: flex;
		flex-direction: column;
		justify-content: end;
	}
	&__bottom-item:hover{
		.product__bottom-descr,
		.product__item-btn{
			transform: translateY(0);
		}
		.product__item-img{
			margin-bottom: 30px;
		}
	}
	&__bottom-item--hide{
		display: none;
	}
	&__bottom-descr{
		transform: translateY(73px);
		transition: transform .2s;
	}
	&__item-img{
		display: inline;
		margin-bottom: 60px;
		max-height: 149px;
		object-fit: contain;
		transition: all .5s;
		transition: margin-bottom .5s;
	}
	&__item-text{
		@extend %raleway-400;
		margin-bottom: 3px;
		font-size: 12px;
		color: $gray;
		transition: all .5s;
	}
	&__item-price{
		font-size: 26px;
		margin-bottom: 17px;
		@extend %fredoka-400;
	}
	&__item-btn{
		display: flex;
		transition: transform .3s;
		transform: translateY(100%);
		justify-content: center;
		align-items: center;
		background-color: #f53e26;
		border: none;
		height: 73px;
		color: $white;
		@extend %fredokaone-400;
		font-size: 28px;
		cursor: pointer;
		img{
			margin-right: 4px;
		}
	}
	&__item-btn:hover{
		background-color: #df4115;
	}
}


.experience{
	height: 515px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(../images/content/experience/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  	color: $white;
	&__title{
		padding: 0 0 25px 10px;
		margin-bottom: 25px;
		border-bottom: 1px solid rgba(255, 255, 255, .5);
		font-size: 43px;
		@extend %fredokaone-400;
  		letter-spacing: 26px;
	}
	&__text{
		@extend %ptserif-400;
		font-size: 24px;
		max-width: 660px;
		text-align: center;
		margin-bottom: 30px;
	}
	&__link{
		padding: 10px 24px 10px 17px;
		background-color: $white;
		border-radius: 20px;
		color: $orange;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			width: 4px;
			height: 5px;
			background-image: url(../images/icons/chevron.svg);
			background-repeat: no-repeat;
			background-size: cover;
			right: 17px;
			top: 50%;
			transform: translateY(-25%);
		}
	}
}

.blog{
	display: flex;
	background-color: $white;
	margin-bottom: 40px;
}
.blog-aside{
	max-width: 270px;
	padding: 0 40px;
	&__subscribe{
		margin-top: 30px;
	}
	&__subscribe-title{
		@extend %fredokaone-400;
		font-size: 63px;
		color: $orange;
		text-align: center;
		margin-bottom: 20px;
	}
	&__subscribe-subtitle{
		font-size: 12px;margin-bottom: 7px;
		text-align: center;
		color: $orange;
	}
	&__form{
		position: relative;
	}
	&__form-input{
		width: 190px;
		height: 37px;
		background: linear-gradient(#f26124, #ff8331);
		border: none;
		border-radius: 16px;
		padding: 0 45px 0 15px;
		&::placeholder{
			color: $white;
		}
	}
	&__form-btn{
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
		border: none;
		background-color: transparent;
	}
	&__posts{
		padding: 5px 0;
	}
	&__post{
		padding-bottom: 26px;
		margin-top: 31px;
		border-bottom: 1px solid $gray;
	}
	&__post:last-child{
		border-bottom: none;
	}
	&__post-img{
		margin-bottom: 17px;
	}
	&__post-info{
		display: flex;
		justify-content: center;
		font-size: 10px;
		color: #c5c3c2;
		margin-bottom: 15px;
	}
	&__post-date,
	&__post-comments{
		padding-left: 19px;
		position: relative;
	}
	&__post-comments{
		margin-left: 20px;
		transition: color .2s;
		&:hover{
			color: $orange;
		}
	}
	&__post-date::after,
	&__post-comments::after{
		content: '';
		position: absolute;
		width: 13px;
		height: 13px;
		background-repeat: no-repeat;
		background-size: cover;
		left: 0;
	}
	&__post-date::after{
		background-image: url(../images/icons/calendar.svg);
		width: 11px;
		height: 12px;
	}
	&__post-comments::after{
		background-image: url(../images/icons/comment.svg);

	}
	&__post-link{
		color: inherit;
	}
	&__post-title{
		@extend %ptserif-400;
		font-size: 16px;
		color: black;
		text-align: center;
		transition: color .2s;
		&:hover{
			color: $orange;
		}
	}
}
.blog-info{
	width: 100%;
	&__container{
		width: 640px;
		padding: 0 10px;
		margin: 0 auto;

	}
	&__item{
		transition: all .3s;
		display: none;
		opacity: 0;
	}
	&__item.active{
		display: block;
		opacity: 1;
	}
	&__title{
		margin-top: 50px;
		color: black;
		@extend %ptserif-700;
		font-size: 24px;
		margin-bottom: 8px;
	}
	&__place{
		padding-left: 18px;
		color: #c5c3c2;
		margin-bottom: 20px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			width: 9px;
			height: 12px;
			background-image: url(../images/icons/place.svg);
			left: 0;
		}
	}
	&__subtitle{
		@extend %ptserif-400i;
		font-size: 22px;
		color: $gray;
		margin-bottom: 30px;
	}
	&__img-box{
		display: flex;
		margin-bottom: 34px;
	}
	&__img{
		width: 24%;
	}
	&__text{
		color: $gray;
		line-height: 24px;
		margin-bottom: 34px;
	}
	&__people{
		display: flex;
		height: 244px
	}
	&__people-inner{
		flex-basis: 100%;
		overflow-x: clip;
		border-top: 5px solid #fff3ef;
	}
	&__people-item{
		flex-basis: 33.33%;
		min-width: 33.33%;
	}
	&__people-img{
		border-radius: 50%;
		margin-bottom: 14px;
		transition: all .3s;
	}
	&__people-item{
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		padding-bottom: 27px;
		cursor: pointer;
		transition: all .3s;
		position: relative;
		&:hover{
			background-color: #fff3ef;
			&.active{
				&::after{
					border-bottom: 8px solid #fff3ef;
				}
			}
		}
	}
	&__people-item.active{

		.blog-info__people-img{
			border: 10px solid #ffefdc;
		}
		&::before,
		&::after{
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 1px;
			top: -24px;
			border: 12px solid transparent; 
			border-bottom: 12px solid #fff3ef;
		}
		&::after{
			border: 8px solid transparent; 
			border-bottom: 8px solid $white;
			top: -15px;

		}
	}
	&__people-name{
		@extend %ptserif-700;
		font-size: 16px;
		margin-bottom: 3px;
	}
	&__people-place{
		font-size: 11px;
		color: #d4b8a9;
	}
}
.blog-slider{
	&__arrow{
		border: none;
		background-color: #fff3ef;
		cursor: pointer;
		transition: all .4s;
		padding: 0 18px;
		svg{
			path{
				transition: all .4s;
				fill: $orange;
			}
		}
	}
	&__arrow:hover{
		background-color: $green;
		svg{
			path{
				fill: $white;

			}
		}
	}
	&__arrow:first-child{
		svg{
			transform: rotate(180deg);

		}
	}
	&__inner{
		display: flex;
		height: 100%;
		transition: all .3s;
	}
}

.category{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__item{
		width: 313.3px;
		height: 235px;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 35px;
		color: $white;
	}
	&__title{
		@extend %fredokaone-400;
		font-size: 40px;
		margin-bottom: 3px;
	}
	&__link{
		color: inherit;
		@extend %quicksand-700;
		font-size: 10px;
		padding-right: 6px;
		position: relative;
		display: inline;
		&::after{
			content: '';
			position: absolute;
			width: 4px;
			height: 5px;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../images/icons/chevron-white.svg);
			left: 50px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}


@keyframes listOnAnimation{
	from{
		clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

	}
	to{
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
	}
	
}

@import 'media';

